@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Bree Serif";
}

.img1 {
    height: 500px;
    width: 500px;
}

.head {
    color: #183b56;
    text-align: center;
    font-size: 30px;
}

.para {
    text-align: center;
    font-size: 15px;
    color: #616e7c;
}

.img2 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.img3 {
    height: 200px;
    width: 300px;
    margin: 10px;
}



.bg-img {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/advanced-technologies-img.png');
    height: 100vh;
    background-size: cover;

}

.tech-head {
    color: blue;
    font-size: 30px;
}

.card6 {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    text-align: right;
}

.tech-para {
    font-size: 15px;
    color: #616e7c;
}

.tech-button1 {
    border-width: 0px;
    width: 150px;
    border-width: 0px;
    padding: 10px;
}




.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.iiimage {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');
    height: 50vh;
    background-size: cover;
}

.textttt {
    margin: 10px;
    font-family: "Roboto";
    border-radius: 10px;
    padding: 20px;
}

.heeead {
    color: #323f4b;
}

.parrrra {
    color: #7b8794;
}

.butttton {
    background-color: #323f4b;
    border-width: 0px;
    border-radius: 8px;
    color: white;
    padding: 9px;
}


.headdd {
    background-image: url(' https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    height: 100vh;
    background-size: cover;


}

.main-headinggg {
    font-family: "bree Serif";

}

.texxxt {
    color: #323f4b;
    font-family: "Roboto";

}

.buttonnn {
    background-color: #ffffff;
    font-family: "Roboto";
    border-width: 0px;
    border-radius: 6px;
    padding: 10px;
    width: 125px;
}

.color {
    background-color: #f6c56e;
    padding: 19px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}